@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cormorant+SC:wght@400;600;700&family=Ibarra+Real+Nova:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-clr: #b68d40;
  --secondary-clr: #f4ebd0;
  --black-clr: #333;
  --grey-clr: #777575;
  --white-clr: #f8f8ff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  line-height: 1.5;
  font-size: 1.123rem;
  color: var(--black-clr);
  font-family: "Ibarra Real Nova", serif;
  background-color: var(--white-clr);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.875em;
}

section {
  padding-top: 4em;
}

.header-container {
  padding-top: 2em;
  text-align: center;
  font-family: "Cinzel", serif;
  margin-bottom: 2em;
}

.header-container hr {
  width: 20%;
  margin: 0.5em auto;
}

/* nav bar */
nav {
  width: 100%;
  height: 10%;
  background-color: var(--white-clr);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  font-family: "Cormorant SC", serif;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

nav .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 2rem;
}

nav a,
.about .container a {
  text-decoration: none;
  color: var(--primary-clr);
  display: inline-block;
}

nav a:hover {
  color: var(--primary-clr);
}

nav li,
.new-arrivals li,
footer li {
  list-style-type: none;
}

.nav-icons {
  font-size: 1.3rem;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: " ";
  position: absolute;
  background-color: var(--primary-clr);
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-menu {
  padding-left: 10em;
}

.logo {
  font-size: 1.3rem;
  font-weight: 700;
}

.hamburger,
.display-none {
  display: none;
  cursor: pointer;
}

/* shopping cart counter */
.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  top: -25%;
  right: 30%;
  background-color: var(--black-clr);
  color: var(--white-clr);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero  */
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.9)),
    url(../images/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

header .content {
  max-width: 900px;
  font-family: "Cinzel", serif;
  color: var(--white-clr);
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  animation: moveIn 2s;
}

header .content h1 {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.5em;
}

header .content hr {
  margin-top: 0.5em;
  margin-bottom: 5em;
}

header .content a {
  background-color: black;
  color: var(--white-clr);
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Cinzel", serif;
  padding: 1em 2em;
}

header .content a:hover,
.product-page-header .content a {
  background-color: transparent;
  border: 2px solid var(--primary-clr);
}

@keyframes moveIn {
  from {
    top: 0;
  }
  to {
    top: 60%;
  }
}

/* banners */
.banner .container {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.banner .card {
  width: 100%;
  height: 200px;
  padding: 1em;
}

.banner .card hr {
  width: 50%;
}

.banner .card h4 {
  color: var(--secondary-clr);
}

.banner .card:nth-child(1) {
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url(../images/sale1.jpg);
  background-position: center;
  background-size: cover;
}

.banner .card:nth-child(2) {
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url(../images/sale2.jpg);
  background-position: center;
  background-size: cover;
}

.banner .card:nth-child(3) {
  background-image: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)),
    url(../images/sale3.jpg);
  background-position: center;
  background-size: cover;
}

/* new arrival products */
.slider-card img,
.product-card img {
  width: 230px;
  height: 330px;
  object-fit: cover;
}

.slide-img,
.product-img {
  text-align: center;
  padding: 2em 0;
  background-color: var(--secondary-clr);
}

.slider-card,
.product-card {
  width: 350px;
  height: 615px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 1.5em 1em;
  margin: 0 0.5em;
  margin-bottom: 1em;
  border-radius: 12px;
}

.slider-card:hover,
.product-card:hover,
.banner .card:hover {
  transform: scale(1.05);
  transition: all ease 0.3s;
}

.slider-card .price {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5em;
}

.slider-card .text,
.product-card .text {
  padding-top: 1em;
}

.slider-card .text p,
.window-header p,
.product-details p,
.product-card .text p,
.product-card .price s {
  color: var(--grey-clr);
}

.price i,
.window-btns button,
.window-btns i {
  font-size: 1.3rem;
  color: var(--white-clr);
  background-color: var(--black-clr);
  padding: 0.5em 0.5em;
  cursor: pointer;
}

.price i:hover,
.window-btns button:hover,
.product-card .price button:hover {
  background-color: transparent;
  color: var(--black-clr);
  border: 2px solid var(--black-clr);
  transition: all ease 0.3s;
}

/* modal window */
.modal-window {
  background-color: rgba(50, 50, 50, 0.8);
  position: fixed;
  top: 10%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  z-index: 500;
  display: none;
}

.window {
  background-color: var(--white-clr);
  width: 60%;
  height: 500px;
  margin: 5% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.window-img img {
  width: 300px;
  height: 410px;
  object-fit: cover;
  background-color: var(--secondary-clr);
}

.window-img {
  padding: 2em;
}

.window .content {
  max-width: 50%;
}

.window-header .price,
.window-inputs {
  font-weight: 400;
  padding-top: 0.5em;
}

.window-inputs input,
.window-inputs select {
  padding: 0.5em 0;
}

.window-inputs .quantity {
  width: 15%;
  padding-left: 0.5em;
  margin: 0 1em;
}

.product-details {
  padding-top: 1em;
}

.window-btns {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.window-btns button {
  font-family: "Ibarra Real Nova", serif;
  border: none;
  width: 90%;
}

.window-btns i {
  background-color: transparent;
  color: var(--black-clr);
  border: 2px solid var(--black-clr);
}

.close-modal,
.cart-items .item-card .content div {
  font-size: 2rem;
  text-align: right;
  cursor: pointer;
}

/* shopping cart modal window */
.shopping-cart-window {
  padding-top: 0;
}

.cart-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--white-clr);
  width: 30%;
  position: fixed;
  right: 3%;
  top: 10%;
  z-index: 400;
  padding: 1em;
}

.cart-btn-window {
  text-align: center;
  background-color: var(--black-clr);
  font-size: 1.3rem;
  padding: 0.5em;
  margin: 0.5em 0 0.4em 0;
}

.cart-window .total {
  text-align: right;
}

.cart-btn-window a {
  color: var(--white-clr);
  text-decoration: none;
}

.cart-items {
  max-height: 350px;
  overflow-y: auto;
}

.cart-items .item-card {
  border-bottom: 1px solid var(--black-clr);
  padding: 0.5em 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.cart-img img {
  background-color: var(--secondary-clr);
  width: 118px;
  height: 180px;
  object-fit: cover;
  padding: 0.5em;
}

.cart-img {
  margin-top: 0.5em;
}

.cart-items .item-card .content input {
  padding: 0.5em;
  margin-top: 1em;
  width: 25%;
}

.cart-items .item-card .content .price {
  text-align: right;
  padding-top: 2em;
}

.hide {
  display: none;
}

/* about */
.about {
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.9)),
    url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: var(--white-clr);
  text-align: center;
}

.about .container {
  width: 50%;
}

.about .container a,
.submit-btn button,
.shop-btn button {
  color: var(--white-clr);
  background-color: var(--primary-clr);
  font-size: 1.3rem;
  padding: 0.5em 1.5em;
  margin: 2em 0 4em 0;
}

.about .container a:hover {
  background-color: transparent;
  border: 2px solid var(--primary-clr);
  transition: all ease 0.3s;
}

/* product (home page) */
.products .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.product-card {
  height: 660px;
  cursor: pointer;
}

.product-card .price {
  padding-top: 0.5em;
}

.product-card .price s {
  font-size: 0.9755rem;
}

.product-card .price button {
  background-color: var(--black-clr);
  color: var(--white-clr);
  font-size: 1.3rem;
  border: none;
  padding: 0.5em 1.5em;
  width: 100%;
  margin-top: 1em;
  cursor: pointer;
}

/* footer */
footer {
  background-color: var(--black-clr);
  color: var(--grey-clr);
}

footer .container {
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

footer .container .column {
  width: 50%;
  padding: 1em 0;
  margin: 1em;
}

footer .container h3 {
  font-family: "Cormorant SC", serif;
  font-weight: 400;
  color: var(--primary-clr);
  padding-bottom: 0.5em;
}

footer .container a {
  text-decoration: none;
  color: var(--grey-clr);
}

footer i {
  font-size: 1.5rem;
}

.social-link li {
  display: inline-block;
  cursor: pointer;
  padding-top: 1em;
}

footer .footer-link:hover,
.social-link li:hover,
footer .container button:hover {
  transition: all 0.6s ease;
  padding-left: 10px;
}

footer .container label {
  margin-top: 1em;
  display: flex;
}

footer .container input,
footer .container button {
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--primary-clr);
  color: var(--white-clr);
  outline: none;
}

footer .container button {
  width: 10%;
  cursor: pointer;
}

footer .outside {
  background-color: var(--primary-clr);
  color: var(--black-clr);
  text-align: center;
  padding: 0.3em 0;
}

/* ==================================== PRODUCT PAGE ==================================== */
/* products page header*/
.product-page-header {
  height: 80vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.9)),
    url(../images/productBackground.jpg);
}

.product-page-header .content h1 {
  margin-bottom: 1em;
}

.product-page-header .content span {
  color: var(--primary-clr);
  font-size: 4rem;
}

.product-page-header .content .small {
  font-size: small;
  padding: 0.5em 0;
}

.product-page-header .content a:hover {
  background-color: var(--primary-clr);
}

/* service */
.service {
  padding-top: 0;
}

.service .container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 20vh;
}

.service .container i {
  font-size: 1.3rem;
}

/* product btns */
.products .product-btns {
  text-align: center;
  margin-top: 3em;
}

.products .product-btns button {
  padding: 0.5em;
  font-size: 1.3rem;
  min-width: 3%;
  height: 10%;
  border: none;
  background-color: var(--black-clr);
  color: var(--white-clr);
  cursor: pointer;
}

.products .product-btns button:hover,
.shop-btn button:hover,
.cart-btn-window:hover {
  opacity: 0.9;
}

/* ===================================== REGISTRATION PAGE ===================================== */
.forms .container {
  padding: 5em 0 2em 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.login,
.signup {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 10px;
  padding: 1.5em 0;
  height: 500px;
  width: 40%;
}

.forms h1 {
  font-size: 2rem;
}

form .text-inputs input {
  width: 70%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid var(--primary-clr);
  font-size: 1rem;
  margin-top: 2em;
}

.password-settings {
  display: flex;
  justify-content: space-between;
}

.password-settings,
.conditions {
  margin-top: 2em;
  padding: 0 3.5em;
  font-size: 1rem;
}

.password-settings input,
.conditions input {
  accent-color: var(--black-clr);
}

.submit-btn button {
  margin: 3em 0 0 0;
  border: none;
  width: 70%;
  cursor: pointer;
}

.submit-btn button:hover {
  background-color: var(--black-clr);
}

.signup-form,
.login-form {
  padding-top: 0.8em;
  font-size: 1rem;
}

.signup-form a,
.login-form a {
  text-decoration: none;
  color: var(--black-clr);
}

.signup-form a span,
.login-form a span {
  font-weight: 700;
}

/* ================================== Checkout FORM PAGE ================================== */
.shopping-cart .container {
  display: flex;
  justify-content: center;
}

.shopping-cart .container form {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px;
  padding: 1em;
  margin: 3em 0;
  width: 700px;
}

.shopping-cart .container form input {
  font-size: 1rem;
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
  background-color: transparent;
  border: none;
  border: 1px solid var(--primary-clr);
  outline: none;
}

.shopping-cart .container form label {
  display: block;
  margin-top: 0.5em;
}

.shopping-cart .container form .contact-info {
  padding-top: 1.5em;
}

.shopping-cart .container form .flex {
  display: flex;
  gap: 1.5rem;
}

.shopping-cart .container form .name div {
  width: 100%;
}

.shop-btn {
  text-align: center;
}

.shop-btn button {
  width: 100%;
  margin: 2em 0 0 0;
  border: none;
  background-color: var(--black-clr);
  cursor: pointer;
}

/* thank you card */
.thankyou-card {
  width: 100%;
  height: 60vh;
  position: relative;
}

.thankyou-card .card-container .content {
  text-align: center;
  margin: 2em 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bxs-check-circle {
  font-size: 3rem;
}

.thankyou-card .card-container .content span {
  font-size: 3rem;
  color: var(--primary-clr);
}

.thankyou-card .card-container .content div:nth-child(4) {
  padding-top: 3em;
}

/* ==================================== Media Queries ==================================== */
@media (max-width: 1200px) {
  /* modal window */
  .window {
    width: 70%;
  }

  .window-img {
    padding-left: 0em;
  }

  /* shopping cart modal wiindow */
  .cart-items .item-card .content input {
    width: 30%;
  }
}

@media (max-width: 1024px) {
  /* modal window */
  .window {
    gap: 0rem;
  }

  .window-img {
    padding-left: 1.5em;
  }

  .window .content {
    min-width: 5%;
    padding-right: 2em;
  }

  .window-btns {
    margin-top: 1em;
    display: flex;
    align-items: center;
  }
  
  /* shopping cart modal wiindow */
  .cart-items .item-card .content input {
    width: 45%;
  }
}

@media (max-width: 992px) {
  /* hero */
  header .content {
    min-width: 600px;
  }

  /* about */
  .about .container {
    width: 70%;
  }

  /* modal window */
  .window {
    width: 85%;
  }
}

@media (max-width: 768px) {
  /* nav bar */
  .hamburger {
    display: block;
  }

  nav {
    height: 8%;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: center;
    gap: 0;
    left: -100%;
    top: 8%;
    width: 100%;
    text-align: center;
    background-color: var(--white-clr);
    padding-left: 0;
  }

  .nav-menu a {
    padding: 1.5em 0;
  }

  .nav-link::after {
    content: none;
  }

  .nav-menu li:hover {
    background-color: var(--black-clr);
    width: 100%;
  }

  .nav-menu.active {
    left: 0;
  }

  /* hero */
  header .content {
    position: absolute;
    top: 57%;
  }

  @keyframes moveIn {
    from {
      top: 0;
    }
    to {
      top: 57%;
    }
  }

  /* banners */
  .banner .container {
    flex-wrap: wrap;
  }

  .banner .card {
    width: 320px;
  }

  /* new arrival products */
  .slider-card {
    width: 320px;
  }

  /* product (home page) */
  .product-card {
    width: 46%;
  }

  /* footer */
  footer .container {
    flex-wrap: wrap;
  }

  footer .container .column {
    width: 40%;
  }

  /* model window */
  .window {
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .modal-window {
    top: 8%;
  }

  .window-img img {
    width: 300px;
    height: 370px;
  }

  .window-img {
    padding: 3em;
  }

  .window .content {
    max-width: 80%;
    padding-bottom: 2em;
  }

  /* shopping cart modal window */
  .cart-container {
    width: 40%;
    position: fixed;
    top: 8%;
  }

  .cart-items .item-card {
    display: flex;
    flex-direction: column;
  }

  .cart-items .item-card .content input {
    width: 20%;
  }

  /* form */
  .forms .container {
    gap: 2rem;
  }

  .login,
  .signup {
    width: 50%;
  }

  .password-settings {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .password-settings input {
    margin-bottom: 1em;
  }
}

@media (max-width: 576px) {
  /* nav bar */
  .display-none {
    display: block;
  }

  .gone {
    display: none;
  }

  /* hero */
  header .content {
    min-width: 500px;
  }

  header .content hr {
    width: 50%;
    margin: 1em auto 4em auto;
  }

  header .content h1 {
    font-size: 2.5rem;
  }

  /* banners */
  .banner .card {
    width: 100%;
  }

  /* new arrival product + product (home page) */
  .slider-card,
  .product-card {
    width: 100%;
  }

  /* about */
  .about .container {
    width: 90%;
  }

  /* service */
  .service .container {
    flex-wrap: wrap;
    gap: 3rem;
    padding-top: 0.5em;
    margin-bottom: 15em;
  }

  /* shopping cart modal window */
  .cart-container {
    width: 50%;
  }

  /* form */
  .forms .container {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .login,
  .signup {
    width: 80%;
  }

  .password-settings {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  /* hero */
  header .content h1 {
    font-size: 2rem;
  }

  header .content button {
    font-size: 1rem;
    margin-top: 2.5em;
  }

  /* new arrival products */
  .slider-card {
    width: 75%;
  }

  /* modal window */
  .window-img img {
    width: 200px;
    height: 310px;
  }

  .window-img {
    padding: 1.3em;
  }

  .window-inputs .quantity {
    width: 20%;
    margin-bottom: 1em;
  }

  /* shopping cart modal window */
  .cart-items .item-card .content input {
    width: 28%;
  }
}

@media (max-width: 380px) {
  /* hero */
  header .content {
    min-width: 332px;
  }

  /* new arrival products */
  .slider-card {
    width: 65%;
  }

  /* about */
  .about .container {
    width: 100%;
  }

  /* footer */
  footer .container .column {
    padding: 0;
  }

  /* service */
  .service .container {
    height: 40vh;
    margin-bottom: 10em;
  }

  /* modal window */
  .window-inputs .quantity {
    width: 25%;
  }

  .window-btns button,
  .window-btns i {
    padding: 0.4em;
  }

  /* shopping cart modal window */
  .cart-container {
    width: 65%;
  }
  .cart-items .item-card .content input {
    width: 25%;
  }

  /* thank you card */
  .thankyou-card {
    height: 80vh;
  }
}
