*{
    box-sizing: border-box;
}

.title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 300%;
    text-align: center;
}

.intro{
    font-size: 30px;
    background-color: aquamarine;
    text-align: justify;
}

.subtitle{
    font-size: 0.5rem;
    text-align: right;
}

/* text shadow */
#name1{
    text-shadow: 10px 0 2px red;
}

#name2{
    text-shadow: 0 10px 2px red;
}

#name3{
    text-shadow: -10px 10px 2px red;
}

#name4{
    text-shadow: 10px -10px 2px red;
}

#name5{
    text-shadow: 10px -10px 5px red;
}

/* margin */
.box1{
    background-color: purple;
    height: 100px;
    width: 200px;
    box-shadow: 5px 5px 10px lightgreen;
}

.box2{
    margin-top: 2em;
    background-color: purple;
    box-shadow: 0px 0px 10px 5px lightgreen;
}

.box3{
    height: 100px;
    width: 200px;
    background-color: darkcyan;
    margin-bottom: 50px;

}

.box4{
    height: 100px;
    width: 200px;
    background-color: burlywood;
    margin-left: 100px;
}

.box5{
    height: 100px;
    width: 200px;
    background-color: chocolate;
    margin: auto;
}

.box6{
    height: 100px;
    width: 200px;
    background-color: bisque;
    margin: 100px;
}

.box7{
    height: 100px;
    width: 200px;
    background-color: darkslategrey;
    margin: 100px 300px;
}

.box8{
    height: 100px;
    width: 200px;
    background-color: indianred;
    margin: 200px 100px 300px 50px;
}

/* padding */
.p1{
    padding-top: 50px;
}

.p2{
    padding: 20px 100px;
}

.p3{
    padding: 50px;
}

.p4{
    padding: 20px 50px 100px 30px;
}

/* layout */
.title2{
    background-color: mediumpurple;
    font-size: 3rem;
    text-align: center;
    padding: 20px 0;
    text-shadow: 2px 2px 5px lightblue;
    width: 50%;
    margin: auto;
    box-shadow: 5px 5px 10px grey;
    color: aliceblue;
}

.img-container{
    width: 80%;
    margin: auto;
    margin-top: 2em;
}

.img-container img{
    width: 45%;
    margin: 2%;
}

.img1{
    border-radius: 20px;
}

.img2{
    border-radius: 50%;
}

.img3{
    border: 10px ridge orange;
    padding: 10px;
}

.img4{
    box-shadow: 0 0 5px 10px grey;
}

.row3 .img3{
    margin-top: 3em;
}

.content{
    width: 45%;
    float: right;
    margin-top: 3em;
}

.contact{
    background-color: grey;
    color: antiquewhite;
    display: inline-block;
    width: 100%;
}

.contact1, .contact2, .contact3{
    width: 30%;
    float: left;
    margin-left: 3%;
    padding: 1em 2em;
}

/* colors */
span{
    font-size: 5rem;
    font-family: "Arial";
}

.blue{
    color: rgb(66, 133, 244);
}

.red{
    color: rgb(234, 67, 53);
}

.yellow{
    color: rgb(247, 196, 0);
}

.green{
    color: rgb(55, 188, 80);
}

.clr1, .clr2, .clr3, .clr4{
    font-size: 3rem;
}

.clr1{
    background-color: #a67dff;
}

.clr2{
    background-color: #734fcb;
}

.clr3{
    background-color: #daaffd;
}

.clr4{
    background-color: #ff8f57;
}

/* positions */
.photo-container{
    border: 20px ridge lavender;
    width: 80%;
    margin: auto;
    position: relative;
}

.photo-container img{
    width: 100%;
}

.photo-container p{
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    background-color: rgb(247, 196, 0, .5);
    box-shadow: 3px 3px 5px lightblue;
    color: purple;
}

.photo2{
    width: 100%;
}

.p2{
    position: absolute;
    text-align: center;
    padding: 2em;
}

.p2 a{
    display: block;
    background-color: aquamarine;
    margin-top: 1em;
    padding: 1em;
    text-decoration: none;
    border-radius: 12px;
}

.p2 a:hover{
    background-color: rgb(130, 202, 202);
    box-shadow: 0 0 5px 2px rgb(0,0,0,.2);
}

/* filters */
.blur1, .blur2, .blur3, .sepia1, .sepia2, .sepia3, .inverse1, .inverse2, .inverse3{
    width: 30%;
    margin-left: 2%;
}

.blur1{
    filter: blur(2px);
}

.blur2{
    filter: blur(10px);
}

.blur3{
    filter: blur(20px);
}

.sepia1{
    filter: sepia(10%);
}

.sepia2{
    filter: sepia(60%);
}

.sepia3{
    filter: sepia(90%);
}

.inverse1{
    filter: invert(10%);
}

.inverse2{
    filter: invert(60%);
}

.inverse3{
    filter: invert(90%);
}

/* animations */
.animation-container{
    border: 20px ridge grey;
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
    position: relative;
    overflow: hidden;
}

.animation1{
   width: 100%;
}

.cloud{
    top: -1%;
   right: -20%;
   position: absolute;
   animation-name: moveCloud;
   animation-duration: 2s;
   animation-iteration-count: 2;
   animation-duration: 5s;
   animation-fill-mode: forwards;
   animation-direction: alternate;
   animation-timing-function: ease;
}

@keyframes moveCloud{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-400%);
    }

}

.horse{
    bottom: 0%;
    left: -20%;
   position: absolute;
   animation-name: moveHorse;
   animation-duration: 8s;
   animation-fill-mode: forwards;
   animation-timing-function: ease-in-out;

}

@keyframes moveHorse{
    from{
        transform: rotate(0deg); 
        left: 0%;
    }
    to{
        transform: rotate(700deg); 
        left: 100%;
    }
}

.cloud1, .cloud2, .cloud3{
    position: absolute;
}

.cloud1{
    width: 30%;
    top: 0;
    left: -20%;
    animation: moveCloud1 8s infinite;

}

.cloud2{
    width: 35%;
    top: 0;
    left: -50%;
    animation: moveCloud1 25s infinite;

}

.cloud3{
    width: 50%;
    top: 0;
    left: -10%;
    animation: moveCloud1 30s infinite;

}

@keyframes moveCloud1{
    0%{
        opacity: .8;
        transform: translate(0,0);

    }
    20%{
        opacity: 1;

    }
    40%{
        opacity: .5;

    }
    60%{
        opacity: .3;
        transform: translate(200%, 50%);

    }
    80%{
        opacity: .7;

    }
    100%{
        opacity: .9;
        transform: translate(400%, -10%);

    }

}

.animation-container p{
    position: absolute;
    top: 20%;
    bottom: 20%;
    left: 10%;
    right: 10%;
    text-align: center;
    background-color: transparent;
    font-size: 3rem;
    color: aliceblue;
    animation: zoomText 5s alternate-reverse;

}

@keyframes zoomText{
    0%{
        transform: scale(0);
        color: aliceblue;
        text-shadow: 5px 5px 5px lightgray;
    }
    50%{
        transform: scale(2);
        color: aqua;
        text-shadow: 5px 5px 5px lightgray;
    }

    100%{
        transform: scale(1);
        color: #a67dff;
        text-shadow: 5px 5px 5px lightgray;
    }
}